/* ======= Blog Section ============= */

.blogs h3 {
  text-align: center;
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.blogs h2 {
  color: var(--color-white);
}

.blog-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

.blog-box {
  /* background: var(--color-secondary); */
  border: var(--color-primary);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.blog-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  transition: var(--transition);
  object-fit: cover;
}

.blog-box:hover img {
  transform: scale(1.1);
}

.blog-description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-description h4 {
  color: var(--color-white);
}

.blog-description p {
  color: #999;
}

.blog-description a.btn {
  width: auto !important;
  align-self: flex-start;
  display: inline-block;
}

/* ======= End of Blog Section ============= */


/* Responsive Design */
@media screen and (max-width: 1200px) {

  .blog-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .blog-description {
    padding: 1rem;
    gap: 0.8rem;
  }

  .blog-description h4 {
    font-size: 1.2rem;
  }

  .blog-description p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .blog-container{
    grid-template-columns: 1fr;
    gap: 0.9rem;
  }
  .blog-description {
    padding: 0.9rem;
    gap: 0.9rem;
  }

  .blog-description h4 {
    font-size: 1.2rem;
  }

  .blog-description p {
    font-size: 1rem;
  }
}