/* ======= Contact Section ============= */

.contact h3 {
  text-align: center;
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contact h2 {
  color: var(--color-white);
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

.contact-box {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  gap: 1rem;
}

.contact-icon i {
  font-size: 3rem;
  color: var(--color-secondary);
}

.contact-description {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-description h4 {
  color: var(--color-white);
}

.contact-description p {
  color: #999;
}

/* ======= End of Contact Section ============= */



/* =======  Form Section ============= */

.form h3 {
  text-align: center;
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form h2 {
  color: var(--color-white);
}

.form-container {
  width: 100%;
  overflow: hidden;
}

.form-name,
.form-email {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-name input,
.form-email input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--color-dark);
  outline: none;
  border: var(--color-light);
  font-size: 1rem;
  color: #999;
}

.form-name input::placeholder,
.form-email input::placeholder {
  color: #999;
}

.form-message textarea {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--color-dark);
  outline: none;
  border: 1px solid var(--color-light);
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.form-message textarea::placeholder {
  color: #999;
}

/* Add focus styles for better UX */
.form-name input:focus,
.form-email input:focus,
.form-message textarea:focus {
  border: 1px solid var(--color-secondary);
  background: var(--color-primary);
  
}


/* ======= End of Form Section ============= */





/* Responsive Design */
@media screen and (max-width: 1200px) {

  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media screen and (max-width: 900px) {

  .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
  }

  .contact-description {
    padding: 1rem;
    gap: 0.8rem;
  }

  .contact-description h4 {
    font-size: 1.2rem;
  }

  .contact-description p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {

  .form-name,
  .form-email {
    flex-direction: column;
    gap: 1rem;
  }

  .form-container button{
    width: 100%;
    text-align: center;
  }

}