@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');

/* ==============  CSS VARIABLES & BASE SETUP ============== */

:root {
  --color-primary: #0F183A;
  --color-secondary: #336DD5;
  --color-white: #fff;
  --color-accent: #FFA127;
  --color-light: #272F4D;

  /* Container widths */
  --max-width-sm: 600px;
  --max-width-md: 900px;
  --max-width-lg: 1200px;
  --transition: all 400ms ease;
}

/* ==============  CSS VARIABLES & BASE SETUP ============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  background: var(--color-primary);
  list-style: 1.6;
}

section{
  padding: 6rem 0;
}

section h2{
  text-align: center;
  margin-bottom: 4rem;
}

.container {
  width: 100%;
  max-width: var(--max-width-lg);
  margin: 0 auto;
  /* padding: 2rem 0; */
}


h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--color-white);
}


/* ============ button css 
================= */
.btn {
  display: inline-block;
  background: var(--color-secondary);
  color: var(--color-white);
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  font-weight: 600;
  transition: var(--transition);
}


.btn:hover {
  background: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

/* ================ IMAGE CSS ================== */

.img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}



/* ================ NAVIGATION CSS ================== */

nav {
  background: transparent;
  position: fixed;
  height: 5rem;
  padding: 2rem 0;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.window-scroll{
  background: var(--color-primary);
  box-shadow: 0 3rem 2rem rgba(0,0,0,0.2);
}

.nav_right {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav_menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav_menu#close-menu {
  display: none;
}

.nav_menu a {
  font-size: 1rem;
  transition: var(--transition);
}


.nav_menu a:hover {
  color: var(--color-secondary);
}

.nav_search {
  display: flex;
  width: 300px;
  height: 3rem;
  background: transparent;
  border: 2px solid var(--color-light);
  /* padding: 1rem; */
  border-radius: 2rem;

}

.nav_search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-white);
  font-size: 0.9rem;
  margin: 1rem;
  /* width: 100%; */
}

.nav_search input::placeholder {
  opacity: 1;
}

.nav_search button {
  background: var(--color-secondary);
  border: none;
  width: 3rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
}

.nav_search i {
  color: var(--color-white);
  font-size: 1.1rem;
  font-weight: 600;
}

#close-menu,
#open-menu {
  display: none;
  background: var(--color-secondary);
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  color: var(--color-white);
  font-weight: 600;
}




/* ============= Header section =================== */

.header{
  position: relative;
  top: 5rem;
  width: 100%;
  height: calc(100vh - 5rem);
  background: 
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/banner1.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  /* opacity: 0.7; */
  overflow: hidden;
  z-index: 1;
}


.header_container{
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding : 0 3rem;
  position: relative;
  z-index: 2;
  color: var(--color-white);
}

.header_content h2{
  padding-bottom:0.7rem;
  color: var(--color-white);
}

.header_content h5{
  font-weight: 500;
  color: var(--color-white);
}

.left_arrow{
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.right_arrow{
  position: absolute;
  bottom: 5%;
  right: 2%;
}

#arrow{
  background: var(--color-secondary);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1rem;
}


/* ============= End of Header section =================== */


/* ============= Form section =================== */
.booking_form{
  padding: 6rem 2rem;
  margin-top: 4rem;
}

.booking_form-container{
  background: var(--color-primary);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.booking_form-container > div:nth-child(n) h4 {
  color: var(--color-white);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.booking_form-container > div:nth-child(n) input,select{
  background: var(--color-primary);
  width: 200px;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--color-white);
  border: 2px solid var(--color-light);
  font-size: 1rem;
}

.booking_form-container > div:nth-child(n) input:hover,select:hover{
  border: 3px solid var(--color-secondary);
}
/* ============= End of  section =================== */




/* ============= MEDIA QUERIES (TABLETS
)=================== */

@media screen and (max-width:1200px) {

  .container {
    padding: 0 1rem;
  }

  .booking_form-container{
    padding: 1rem;
  }
}

/* ============= END OF MEDIA QUERIES (TABLETS
  )=================== */


/* ============= MEDIA QUERIES (MEDIUM
  )=================== */
@media screen and (max-width:900px) {

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  .container {
    max-width: var(--max-width-md);
  }

  nav{
    background: var(--color-primary);
  }
  
  .nav_container {
    padding: 0 2rem;
    position: relative;
    
  }
  
    /* Hide menu & search by default */
  .nav_right {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background: var(--color-primary);
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--color-light);
    transition: var(--transition);
  }

   /* Show menu only when active */
  .nav_right.active {
    display: flex;
  }


  .nav_menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .nav_menu a {
    display: block;
    padding: 0.5rem 0;
    text-align: center;
  }

  /* Hide search bar completely on mobile */
  .nav_search {
    display: none; 
    width: 100%;
    margin-top: 1rem;
  }

  .nav_right.active .nav_search {
    display: flex;
    
  }
 
  #open-menu,
  #close-menu {
    display: inline-block;
  }

  #close-menu {
    display: none;
  }

  .booking_form{
    
  }

  .booking_form-container{
   flex-wrap: wrap;
   gap: 2rem;
   padding: 2rem 1rem;
   justify-content: center;
    
  }



}