/* ======= Destination Section ============= */

.destination h3 {
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
  font-weight: 500;
}


.destination h2 {
  color: var(--color-white);
}

.destination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}


.destination-box {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  
}

.destination-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.destination-box img {
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.destination-box:hover img {
  transform: scale(1.1);
}


.destination-box h5 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: var(--color-secondary);
  padding: 1rem;
  z-index: 3;
  color: var(--color-white);
  transition: var(--transition);
}

.destination-box:hover h5{
  opacity: 0;
}

.destination-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-danger);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 2rem; */
  border-radius: 1rem;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  transition: var(--transition);
  z-index: 2;
}

.destination-box:hover .destination-hover {
  opacity: 0.7;
  transform: scale(1);
}

/* Animation from center to full */
/* .destination-hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: var(--color-danger);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
  z-index: -1;
}


.destination-box:hover .destination-hover::before {
  width: 150%;
  height: 150%;
  border-radius: 1rem;
} */

.destination-hover h3 {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transform: translateY(20px);
  opacity: 0;
  transition: var(--transition);
}

.destination-hover p {
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.6;
  transform: translateY(20px);
  opacity: 0;
  transition: var(--transition);
}

.destination-box:hover .destination-hover h3,
.destination-box:hover .destination-hover p {
  transform: translateY(0);
  opacity: 1;
}

/* ======= End of Destination Section ============= */


/* Responsive Design */
@media screen and (max-width: 900px) {
  /* .destination-box{
  width: 300px;
} */

  .destination-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .destination-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
  }

  /* .destination-box {
    height: 250px;
  } */

  .destination-box h5 {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
    bottom: 0.8rem;
    left: 0.8rem;
  }
}